* {
  margin: 0px;
  padding: 20px;
  box-sizing: border-box;
}

table, th, td {
  font-family: 'Helvetica', sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 6px;
}

table {
  line-height: normal;
  text-align: left;
  margin-bottom: 80px;
  background: white;
  color: black;
}

#orange,
#blue,
#green {
  color: white;
}

#orange {
  background: rgb(254,165,0);
}

#blue {
  background: rgb(79,79,255);
}

#green {
  background: rgb(22,192,59);
}
