* {
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
}

table {
  font-family: 'verdana';
  line-height: normal;
  text-align: left;
  margin-bottom: 50px;
  color: white;
}

th {
  background: rgb(134,0,111);
}

tr:nth-child(even){
  background-color: rgb(243,126,207);
}

tr:nth-child(odd){
  background-color: rgb(175,85,147);
}

tr:hover:not(:first-of-type) {
  background-color: rgb(204, 102, 153);
  color: black;
  box-shadow: 0 0 10px grey;
