* {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

table {
  font-family: 'arial';
  line-height: normal;
  border-collapse: collapse;
  margin-bottom: 50px;
  padding: 30px;
  weight: 60px;
  width: 80%;
}

th {
  background: rgb(254,193,7);
  color: black;
  text-align: center;
}

td {
  background: rgb(56,44,110);
  color: white;
  border: 1px solid #FFC947;
  text-align: left;
}

tr:hover:not(:first-of-type) td {
  background-color: #FF8A5C;
  color: black;
  box-shadow: 0 0 10px black;
}

#lastname {
  background: rgb(229, 174, 48);
  color: black;
  font-weight: bold;
}
