@keyframes "fadein" {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
body {
	background-image: url("https://images.unsplash.com/photo-1551201602-9ab06be2a45f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Reenie Beanie', cursive;
}
h2 {
	font-family: 'Reenie Beanie', cursive;
	font-size: 80px;
	color: #368B85;
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
}
p {
	font-family: 'IBM Plex Sans Arabic', sans-serif;
}
img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 5px;
	border: 2px solid #368B85;
	box-shadow: 0 0.5rem 0.8rem #00000080;
}
.warpper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tab {
	font-family: 'Reenie Beanie', cursive;
	font-size: 30px;
	padding: 10px 20px;
	margin: 10px 2px;
	background: #368B85;
	display: inline-block;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels {
	background: #B4B897;
	box-shadow: 0 2rem 2rem #00000080;
	min-height: 200px;
	width: 100%;
	max-width: 500px;
	border-radius: 5px;
	overflow: hidden;
	padding: 20px;
}
.panel {
	display: none;
	align-items: center;
	text-align: center;
	animation: fadein 0.8s;
}
.panel-title {
	font-size: 1.5em;
	font-weight: bold;
}
.radio {
	display: none;
}
#one {
	&:checked {
		~ {
			.panels {
				#one-panel {
					display: block;
				}
			}
			.tabs {
				#one-tab {
					background: #B4B897;
					font-weight: bold;
					color: #000;
					border-top: 3px solid #32557f;
				}
			}
		}
	}
}
#two {
	&:checked {
		~ {
			.panels {
				#two-panel {
					display: block;
				}
			}
			.tabs {
				#two-tab {
					background: #B4B897;
					font-weight: bold;
					color: #000;
					border-top: 3px solid #32557f;
				}
			}
		}
	}
}
#three {
	&:checked {
		~ {
			.panels {
				#three-panel {
					display: block;
				}
			}
			.tabs {
				#three-tab {
					background: #B4B897;
					font-weight: bold;
					color: #000;
					border-top: 3px solid #32557f;
				}
			}
		}
	}
}
